@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
 @plugin "daisyui";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark,synthwave;
 }

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #435663;
  --color-secondary: teal;
  --color-base-100: #F5E5E1; /* background */
  --color-base-content: #0c0e1a; /* text */
}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;

  --color-primary: #E3E8FF;
  --color-secondary: #A78BFA;
  --color-base-100: #0c0e1a; /* dark background */
  --color-base-content: #ffffff; /* light text */
}


* {
  font-family: "Poppins", sans-serif;
}